mat-card{
    margin-top: 16px;
}
mat-card-header{
    padding: 16px;
}
mat-card-title{
    color: white;
}
mat-card-subtitle{
    color: #0dd;
}
mat-card-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
mat-card-footer{
    color: #0dd;
    padding: 10px;
}
.newCourse{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-items: center;
}
.center{
    display: flex;
    justify-items: center;
    justify-content: center;
}