<div class="container">
  <mat-toolbar> 
    <button mat-mini-fab routerLink="/"><mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon></button> 
    <span>Juangostera - cursos online</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink="/dashboard">Gestión de cursos</button>
  </mat-toolbar>

  <router-outlet>
  </router-outlet>

  <footer>
    <span>2025 - Juan Guillermo Zapata Grajales - creado para el curso de Angular</span>
  </footer>
</div>